QUIETPACT_API_PORT=3001
VITE_QUIETPACT_API_URL=/api
VITE_QUIETPACT_CHAIN_ID=31337
VITE_QUIETPACT_RPC_URL=http://127.0.0.1:8545
VITE_QUIETPACT_REGISTRY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
