QUIETPACT_API_PORT=3001
QUIETPACT_DATABASE_PATH=.quietpact-data/quietpact.sqlite
QUIETPACT_CHAIN_ID=31337
QUIETPACT_RPC_URL=http://127.0.0.1:8545
QUIETPACT_REGISTRY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
QUIETPACT_REGISTRY_START_BLOCK=0
VITE_QUIETPACT_API_URL=/api
VITE_QUIETPACT_AUCTION_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
VITE_QUIETPACT_CHAIN_ID=31337
VITE_QUIETPACT_RPC_URL=http://127.0.0.1:8545
VITE_QUIETPACT_REGISTRY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
